<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rightnurse.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
				<key>dateExpires</key>
				<string>18/02/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEFE3A7E7E0D121AA38A2601F14DDA832662F7BE</string>
						<key>dateExpires</key>
						<string>18/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KDP5BYSMY</string>
						<key>name</key>
						<string>Cultura Systems Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4KDP5BYSMY.com.ryaltoapp.rightnurse</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4KDP5BYSMY</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4KDP5BYSMY.com.ryaltoapp.rightnurse</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6e00d008-038a-4c47-a698-1709b38b5092</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ryaltoapp.rightnurse</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4KDP5BYSMY</string>
				<key>name</key>
				<string>Cultura Systems Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
